   <div class="row">
    <a ng-href="/Contributor/<%= contributor.catName %>">
      <div class="col-xs-2 col-sm-2 contributorImg">
        <img src="<%= contributor.imgName %>" />
      </div>
      <div class="col-xs-10  col-sm-10 ctb_item_container">
        <div class="contributorName">
          <%= contributor.catName %> <%= contributor.post %> 
        </div>
        <div class="contributorDesc">
          <%- contributor.desc %>
        </div>
      </div>
    </a>
  </div>

