<div class="hidden-xs">
  <% articles.forEach(function(a, idx) { %>
  <div>
    <% var isEven = idx % 2 === 0; %>
    <% if (!isEven) { %>
    <div>
      <div class="ctb_two_content col-md-6 col-xs-12">
        <div class="ctb_two_content_label">[<%= a.catName %>]</div>
        <a href="<%= a.linkURL %>" target=<%= a.linkTarget %>>
          <div class="ctb_two_content_title"><%= a.title %></div>
          <div class="ctb_two_content_content">
            <%- a.intro %>
          </div>
        </a>
      </div>
      <div class="ctb_two_image col-md-6 col-xs-12">
        <a href="<%= a.linkURL %>" target="<%= a.linkTarget %>">
          <%- include('imageHasVideo.ejs', {a: {hasVideo: a.hasVideo, image: a.image}}) %>
        </a>
      </div>
    </div>
    <% } else if (isEven) { %>
    <div>
      <div class="ctb_two_image col-md-6 col-xs-12">
        <a href="<%= a.linkURL %>" target="<%= a.linkTarget %>">
          <%- include('imageHasVideo.ejs', {a: {hasVideo: a.hasVideo, image: a.image}}) %>
        </a>
      </div>
      <div class="ctb_two_content col-md-6 col-xs-12">
        <div class="ctb_two_content_label">[<%= a.catName %>]</div>
        <a href="<%= a.linkURL %>" target=<%= a.linkTarget %>>
          <div class="ctb_two_content_title"><%= a.title %></div>
          <div class="ctb_two_content_content">
            <%- a.intro %>
          </div>
        </a>
      </div>
    </div>
    <% } %>
  </div>
  <% }) %>
</div>
<div class="visible-xs">
  <% articles.forEach(function(a, idx) { %>
  <div>
    <div class="ctb_two_image col-md-6 col-xs-12">
      <a href="<%= a.linkURL %>" target="<%= a.linkTarget %>">
        <%- include('imageHasVideo.ejs', {a: {hasVideo: a.hasVideo, image: a.image}}) %>
      </a>
    </div>
    <div class="ctb_two_content col-md-6 col-xs-12">
      <div class="ctb_two_content_label">[<%= a.catName %>]</div>
      <a href="<%= a.linkURL %>" target=<%= a.linkTarget %>>
        <div class="ctb_two_content_title"><%= a.title %></div>
      </a>
    </div>
  </div>
  <% }) %>
</div>
<div style="clear:both"></div>
