<div class="row">
  <% articles.forEach(function(a, idx) { %>
  <div class="col-xs-12 col-sm-6 col-md-6 nm_section_block">
    <a ng-href="<%= a.linkURL %>" target="<%= a.linkTarget %>">
      <%- include('imageHasVideo.ejs', {a: {hasVideo: a.hasVideo, image: a.imgName}}) %>
    </a>
    <div class="text-left">
      <div class="nm_section_block_title_cat">[<%= a.disCatName %>]</div>
      <div class="nm_section_block_title">
        <a ng-href="<%= a.linkURL %>" target=<%= a.linkTarget %>><%= a.content %></a>
      </div>
    </div>
  </div>
    <% if (idx % 2 === 1) { %>
  <div class="clearboth"></div>
    <% } %>
  <% }) %>
</div>
