<div class="nm_v_menu visible-xs" vmenu="content">
    <div class="mm_container">
      <div class="logo">
        <a href="/"><img src="/img/imgpsh_fullsize.png"></a>
        <div class="close_btn" vmenu="menu_close_trigger"></div>
      </div>
      <% if (menu.main.length > 0) { %>
      <div class="mn_major_menu">
        <ul>
          <% menu.main.forEach(function(m) { %>
          <% if(m.disName != 'celebrities'){ %>
                    <li>
                      <a href="/<%= m.name %>" class="<%= m.activeClass %>">
                        <%= m.disName %>
                      </a>
                    </li>
                <% } else { %>
                    <li><a href="/Celebrity">閃耀人生女人心</li>
                <% } %>
          <% }) %>
             <li><a href="https://event-deluxe.nextdigital.com.hk/subscription.php" target="_blank">JOIN DELUXE CLUB</a></li>
        </ul>
      </div>
      <% } %>

      <% if (menu.sub.length > 0) { %>
      <div class="mn_more_menu">
        <div>More</div>
        <ul>
          <% menu.sub.forEach(function(m) { %>
          <li>
            <a href="/<%= m.name %>" class="<%= m.activeClass %>">
              <%= m.disName %>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
      <% } %>

      <div class="icons">
        <span class="menu_fb_icon">
          <a href="https://www.facebook.com/deluxehongkong" target="_blank">
            <img src="/img/fbIcon.png">
          </a>
        </span>
        <span class="menu_ig_icon">
          <a href="https://www.instagram.com/deluxehongkong" target="_blank">
            <img src="/img/igicons.png">
          </a>
        </span>
          <span class="menu_youtube_icon">
              <a href="https://www.youtube.com/user/memaghk" target="_blank">
                <img src="/img/youtubeIcon.png">
              </a>
        </span>
      </div>

      <% if (showEDM) { %>
      <div class="mobile_newsletter_title">
        Subscribe
      </div>
      <div class="mobile_subscribe newsletter_new_subscription">
        <div class="mobile_subscribe_title">
          訂閱Apple Daily Deluxe電子版以獲得最新資訊及優惠
        </div>
        <form id="mobile_subscript_form">
          <div class="form-group col-xs-6">
            <input type="text" class="form-control lastname" placeholder="姓" maxlength="10" id="mobile_lastname" name="last_name" />
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
          <div class="form-group col-xs-6">
            <input type="text" class="form-control firstname" placeholder="名" maxlength="10" id="mobile_firstname" name="first_name" />
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
          <div class="form-group col-xs-12">
            <input type="email" class="form-control email" placeholder="電子郵件地址" maxlength="50" id="mobile_email" name="email" />
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
          <div class="privacy-block col-xs-12">
            <div class="privacy_block_checkbox">
              <input type="checkbox" name="privacy" value="yes" id="mobile_privacycheck" required />
            </div>
            <div class="privacy_block_content">
              <label>本人已閱讀並接受<a href="http://www.nextdigital.com.hk/info/tnc.html" target="_blank"><u>個人資料的條款</u></a></label>
            </div>
          </div>
          <div class="promotion-block col-xs-12">
            <div class="promotion_block_checkbox">
              <input type="checkbox" name="promotion" value="yes" id="mobile_promotioncheck" />
            </div>
            <div class="promotion_block_content">
              <label>本人願意收取就有關Next Digital的刊物作直銷及品牌推廣之資訊。</label>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary submit-btn newsletter_submit" onclick="mobileValidFunction(event)">提交</button>
        </form>
      </div>
      <div class="mobile_sent_subscription newsletter_sent_success">
        <span class="mobile_subscribe_title">感謝閣下的訂閱！</span>
        <br />
        您將收到確認電郵並得到最新資訊及優惠
        <br />
        <br />
        您已成功註冊！您將收到確認電郵並得到獨家資訊及優惠。歡迎加入Apple Daily Deluxe！
      </div>
      <div class="mobile_sent_subscription newsletter_sent_error">
        <span class="mobile_subscribe_title">系統錯誤</span>
        <br />
        系統暫時未能處理您的申請，請稍後再試。
      </div>
      <% } %>
      <% if (campaigns.length > 0) { %>
      <div class="mobile_campaign_container">
        <% campaigns.forEach(function(c) { %>
        <div class="mobile_campaign_item">
          <a href="<%= c.linkURL %>" target="_blank">
            <img src="<%= c.imgName %>" alt="<%= c.content %>" />
          </a>
        </div>
        <% }) %>
      </div>
      <% } %>
      <div class="mn_third_menu">
        <ul>
          <li><a class="footer-contact-item tel">(852) 2752 3828</a></li>
          <li><a class="footer-contact-item fax">(852) 2623 9118</a></li>
          <li><a class="footer-contact-item email" href="mailto:deluxe@nextdigital.com.hk"><span>deluxe@nextdigital.com.hk</span></a></li>
          <li><a href="http://www.nextdigital.com.hk/info/privacy.html" target="_self">私隱聲明</a></li>
          <li><a href="http://www.nextdigital.com.hk/info/tnc.html" target="_self">服務條款</a></li>
          <li><a href="http://nextmobile.hk/en/home" target="_self">刊登廣告</a></li>
          <li><a href="http://www.nextdigital.com.hk/info/contactus.html" target="_self">聯絡我們</a></li>
        </ul>
        &copy; 2017 AD INTERNET LIMITED. ALL RIGHTS RESERVED. 版權所有 不得轉載
      </div>
    </div>
</div>

<script>
  <% if (showEDM) { %>
  $(document).ready(function() {
    $(".mobile_sent_subscription").hide();
    $('#mobile_subscript_form .glyphicon').hide();

    // set validation message
    var emailWarningMsg = "請輸入完整的電子郵件地址。";
    var privacyWarningMsg = "請閱讀並接受個人資料的條款。";
    ["input", "invalid"].forEach(function(e) {
      document.getElementById("mobile_email")
        .addEventListener(e, function(event) {
          this.setCustomValidity("");
          if (!event.target.validity.valid) {
            this.setCustomValidity(emailWarningMsg);
          }
        }, false);
    });
    ["click", "invalid"].forEach(function(e) {
      document.getElementById("mobile_privacycheck")
        .addEventListener(e, function(event) {
          this.setCustomValidity("");
          if (event.target.validity.valueMissing) {
            this.setCustomValidity(privacyWarningMsg);
          }
        }, false);
    });

    $("#mobile_subscript_form").submit(function() {
      $(".newsletter_submit").prop("disabled", true);
      $.post("/api/subscribe", $(this).serialize(), function(response) {
        $(".newsletter_new_subscription").hide();
        $(".newsletter_sent_subscription").show();
        $(".newsletter_sent_success").show();
      }, "json")
      .fail(function(err) {
        $(".newsletter_new_subscription").hide();
        $(".newsletter_sent_subscription").show();
        $(".newsletter_sent_error").show();
      });
    });
  });

  function mobileValidFunction(event) {
    $('#mobile_subscript_form .glyphicon').hide();
    $('#mobile_subscript_form .lastname').parent().removeClass('has-error');
    $('#mobile_subscript_form .firstname').parent().removeClass('has-error');
    $('#mobile_subscript_form .email').parent().removeClass('has-error');
    var isValid = true;
    if (!$('#mobile_subscript_form .lastname').val()) {
      $('#mobile_subscript_form .lastname').parent().addClass('has-error');
      $('#mobile_subscript_form .lastname').next().show();
      isValid = false;
    }
    if (!$('#mobile_subscript_form .firstname').val()) {
      $('#mobile_subscript_form .firstname').parent().addClass('has-error');
      $('#mobile_subscript_form .firstname').next().show();
      isValid = false;
    }
    if (!$('#mobile_subscript_form .email').val()) {
      $('#mobile_subscript_form .email').parent().addClass('has-error');
      $('#mobile_subscript_form .email').next().show();
      isValid = false;
    }
    if (isValid) {
      return true;
    } else {
      event.preventDefault();
      return false;
    }
  }
  <% } %>
</script>
