<div id="home-slideshow-block" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
<% mpms.forEach(function(mpm, idx) { %>
  <% var active = ""; if (idx === 0) { active = "active" } %>
    <li data-target="#myCarousel" data-slide-to="<%= idx %>" class="<%= active %>"></li>
<% }) %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
<% mpms.forEach(function(mpm, idx) { %>
  <% var active = ""; if (idx === 0) { active = "active" } %>
    <div class="item <%= active %>">
      <a href="<%= mpm.linkURL %>" target="<%= mpm.linkTarget %>">
        <%- include('imageHasVideo.ejs', {a: {hasVideo: mpm.hasVideo, image: mpm.imgName}}) %>
      </a>
      <div class="text-left">
        <div class="nm_section_block_title_cat">[<%= mpm.catName %>]</div>
        <div class="nm_section_block_title">
          <a href="<%= mpm.linkURL %>" target="<%= mpm.linkTarget %>">
            <%- mpm.content %></a>
        </div>
      </div>
    </div>
<% }) %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#home-slideshow-block" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-slideshow-block" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>

<style>
  .carousel-indicators .active {
    background-color: #a7a7a7;
  }
  .carousel-indicators li {
    border: 1px solid #a7a7a7;
  }

  #home-slideshow-block .carousel-inner>.item>img,
  #home-slideshow-block .carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
    height: auto;
  }

  #home-slideshow-block {
    padding-bottom: 40px;
  }

  #home-slideshow-block .carousel-control {
    width: 4%;
    height: 25%;
    top: 30%;
    padding: 0 5%;
  }

  @media (max-width: 767px) {
    #home-slideshow-block .carousel-control {
      width: 8%;
      height: 25%;
      top: 20%;
    }
  }

  #home-slideshow-block .item img {
    width: 640px;
    height: 360px;
  }

  @media screen and (min-width: 768px) {
    #home-slideshow-block .carousel-indicators {
      bottom: 0px;
    }
  }

  #home-slideshow-block .nm_section_block_title_cat {
    font-style: italic;
    color: #8B0000;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #home-slideshow-block .nm_section_block_title {
    font-size: 15px;
    font-weight: bold;
    height: 50px;
  }

  #home-slideshow-block .carousel-control.left {
    background-image: url("/img/icon11_big.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }

  #home-slideshow-block .carousel-control.right {
    background-image: url("/img/icon11_big.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    transform: rotate(180deg);
  }
</style>
