<div class="sticky-placeholder"></div>
<div class="nm_header" vmenu="sibling">
  <div class="index-logo">
    <a class="logo" href="/">http://hk.add.nextmedia.com/</a>
  </div>
  <nav id="sticky-wrap">
    <div class="nav">
      <div class="nav--inner">
        <div class="nav--menu">
          <label vmenu="trigger" for="nav-toggle" class="nav-toggle-icon">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </label>
          <a href="/" class="logo"><img src="/img/imgpsh_fullsize.png"></a>
          <% if (menu.main.length > 0 || menu.sub.length > 0) { %>
          <ul class="text">
            <% menu.main.forEach(function(m) { %>
            <li>
              <a href="/<%= (m.name === "Events") ? "Event" : m.name %>" class="<%= m.activeClass %>">
                <%= (m.name === "Event") ? "Events" : m.name %>
              </a>
            </li>
            <% }) %>
            <% if (menu.sub.length > 0) { %>
            <li class="menu_dropdown">
              More
              <div class="menu_dropdown_content">
                <% menu.sub.forEach(function(m) { %>
                  <div>
                    <a href="/<%= (m.name === "Events") ? "Event" : m.name %>" class="<%= m.activeClass %>">
                      <%= (m.name === "Event") ? "Events" : m.name %>
                    </a>
                  </div>
                  <% }) %>
              </div>
            </li>
            <% } %>
            <span class="menu_fb_icon">
              <a href="https://www.facebook.com/appledailydeluxe" target="_blank">
                <img src="/img/fbIcon.png">
              </a>
            </span>
            <span class="menu_ig_icon">
              <a href="https://www.instagram.com/appledailydeluxe" target="_blank">
                <img src="/img/igicons.png">
              </a>
            </span>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</div>
