<!DOCTYPE html>
<html>

<head>
  <%- include('partials/header.ejs', {
    title: SITE_NAME,
    ogTitle: "Deluxe Hong Kong潮流資訊平台",
    ogImage: null,
    ogDescription: null,
    origin: origin,
    fullURL: fullURL
  }) %>
  <%- include('partials/googleAdTag.ejs', {adTag: 'Index'}) %>
</head>

<body ng-app="addv2">
    <skinner-block></skinner-block>
    <splash-screen></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content" style="text-align: center;">
          <img style="width: 80%;" src="/img/sorry.jpg" />
        </div>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/newsletter.ejs') %>
      </div>
    </div>
    <%- include('partials/logging.ejs', {pageviewLog: null}) %>
    <%- include('partials/google-analytics.ejs') %>
</body>

</html>
