<!DOCTYPE html>
<html>

<head>
  <%- include('partials/extHeader.ejs') %>
  <title>Apple Daily Deluxe</title>
  <%- include('partials/googleAdTag.ejs', {adTag: 'Index'}) %>
</head>

<body ng-app="addv2">
    <skinner-block></skinner-block>
    <splash-screen></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content" style="text-align: center;">
          <img style="width: 80%;" src="/img/sorry.png" />
        </div>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/newsletter.ejs') %>
      </div>
    </div>
    <%- include('partials/logging.ejs') %>
    <%- include('partials/google-analytics.ejs') %>
</body>

</html>
