<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header.ejs', {
      title: title + " - " + SITE_NAME,
      ogTitle: title + " - " + categoryName + " - Deluxe Hong Kong潮流資訊平台",
      ogImage: image,
      ogDescription: ogDescription,
      metaKeyword: metaKeyword,
      origin: origin,
      fullURL: fullURL
    }) %>
    <%- include('partials/googleAdTag.ejs', {adTag: adTag, ky: masterTag}) %>
    <%- include('partials/google-analytics.ejs') %>

</script>
  </head>
  <body ng-app="addv2" ng-controller="ArticleController"
    is-shared-url="<%= isSharedUrl %>"
    categ-ename="<%= ename %>" categ-name="<%= categoryName %>"
    article-id="<%= id %>", article-author="<%= contributorName %>">
    <skinner-block article-id="<%- id %>"></skinner-block>
    <splash-screen article-id="<%- id %>"></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content">
          <div class="nm_section">
            <headbanner headbanner-id="headbanner1" article-id="<%- id %>"></headbanner>
            <div class="row">
              <% if (type === "news") { %>
                <script type="application/ld+json">
                  {
                    "@context": "http://schema.org",
                    "@type": "NewsArticle",
                    "headline": "<%- title.split("").map(function(c) { return "\\u" + ("000" + c.charCodeAt(0).toString(16)).substr(-4); }).join("") %>",
                    "url": "<%- fullURL.replace(/\//g, "\\/") %>",
                    <% if (introPhotos && introPhotos.length > 0) { %>
                      "thumbnailUrl": "<%- (introPhotos[0].imagePathZoom || "").replace(/\//g, "\\/") %>"
                    <% } %>
                    "dateCreated": "<%- pubDate %>",
                    "articleSection": "<%- categoryName %>",
                    "creator": ["Next Mobile Limited"],
                    "keywords": <%- JSON.stringify(themeTags) %>
                  }
                </script>
                <div class="nm_mpm col-md-6 col-xs-12">
                  <div class="mpm_content artd_container">
                    <fixedbanner fixedbanner-id="fixedbanner1" article-id="<%- id %>"></fixedbanner>
                    <div class="artd_article_label">[<%- disCategoryName %>]</div>
                    <div class="artd_article_title"><h1><%- title %></h1></div>
                    <div class="artd_article_publish_date" ng-cloak>
                      日期：<%- pubDate %>
                    </div>
                    <share-bar post-id="<%- id %>"
                      post-title="<%- title %>"></share-bar>
                     
                    <div class="artd_article_video">
                      <div id="video_player"></div>
                    </div>
                    <div class="artd_article_intro">
                    <% if (introPhotos && introPhotos.length > 0) { %>
                      <% introPhotos.forEach(function (photo) { %>
                        <%- include('partials/imageWithCaption.ejs', {image: photo.imagePathZoom, caption: photo.caption}) %>
                      <% }) %>
                    <% } %>
                    <%- intro %>
                    </div>
                    <% if (contentBlocks && contentBlocks.length > 0) { %>
                      <% contentBlocks.forEach(function (content, index) { %>
                        <div class="artd_article_subHead">
                          <%- content.subHead %>
                        </div>
                        <% if (content.photos && content.photos.length > 0) { %>
                          <% content.photos.forEach(function (photo) { %>
                            <%- include('partials/imageWithCaption.ejs', {image: photo.imagePathZoom, caption: photo.caption}) %>
                          <% }) %>
                        <% } %>
                        <% if (content.content === "<p>FIXBANNER1</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner1_<%= index %>" article-id="<%- id %>"></fixedbanner>
                        <% } else if (content.content === "<p>FIXBANNER2</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner2_<%= index %>" fixedbanner-num="2"></fixedbanner>
                        <% } else if (content.content === "<p>FIXBANNER3</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner3_<%= index %>" fixedbanner-num="3"></fixedbanner>
                        <% } else if (content.content === "<p>FIXBANNER4</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner4_<%= index %>" fixedbanner-num="4"></fixedbanner>
                        <% } else if (content.content === "<p>FIXBANNER5</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner5_<%= index %>" fixedbanner-num="5"></fixedbanner>
                        <% } else if (content.content === "<p>FIXBANNER6</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner6_<%= index %>" fixedbanner-num="6"></fixedbanner>
                        <% } else if (content.content === "<p>FIXBANNER7</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner7_<%= index %>" fixedbanner-num="7"></fixedbanner>
                        <% } else if (content.content === "<p>FIXBANNER8</p>") { %>
                          <fixedbanner fixedbanner-id="fixedbanner8_<%= index %>" fixedbanner-num="8"></fixedbanner>
                        <% } else { %>
                          <div class="artd_article_Text">
                            <%- content.content %>
                          </div>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
              <% } else if (type === "cms") { %>
                <script type="application/ld+json">
                  {
                    "@context": "http://schema.org",
                    "@type": "NewsArticle",
                    "headline": "<%- title.split("").map(function(c) { return "\\u" + ("000" + c.charCodeAt(0).toString(16)).substr(-4); }).join("") %>",
                    "url": "<%- fullURL.replace(/\//g, "\\/") %>",
                    <% if (videoThumbnail && videoThumbnail !== "") { %>
                        "thumbnailUrl": "<%- videoThumbnail.replace(/\//g, "\\/") %>",
                        "image": "<%- videoThumbnail.replace(/\//g, "\\/") %>"
                    <% } else if (artBlock && artBlock.length > 0) { %>
                        "thumbnailUrl": "<%- (artBlock[0].imgFile || "").replace(/\//g, "\\/") %>",
                        "image": "<%- (artBlock[0].imgFile || "").replace(/\//g, "\\/") %>"
                    <% } %>
                    "dateCreated": "<%- publish %>",
                    "datePublished": "<%- publish %>",
                    "author": ["Deluxe"],
                    "creator": ["Next Mobile Limited"],
                    "articleSection": "<%- categoryName %>",
                    "keywords": <%- JSON.stringify([tag]) %>
                  }
                </script>
                
               
                
                <div class="nm_mpm col-md-6 col-xs-12">
                  <div class="mpm_content artd_container">
                      <fixedbanner fixedbanner-id="fixedbanner1" fixedbanner-num="1" article-id="<%- id %>"></fixedbanner>  
                      <ad1x1banner banner-id="<%- id %>" article-id="<%- id %>"></ad1x1banner>
                    <% if(keywords.length > 0){ %>
                      <% keywords.forEach(function (a, idx){ %>
                        <a class="hashtagLink" href="<%= origin %>/Keyword/<%= a.link %>">
                          #<%= a.display.toUpperCase() %>
                        </a>
                      <% }) %>      
                    <% }%>      
                   
                    <div class="artd_article_label">[<%- disCategoryName %>]</div>
                    <div class="artd_article_title"><h1><%- title %></h1></div>
                    <div class="artd_article_sub_title"><%- subTitle %></div>
                    <div class="artd_article_publish_date">
                      日期：<%- publish %> 
                    </div>
                     <% if(ename ==="contributor") { %>
                          <div class="col-xs-12 contributorblock">
                                 <%- include('partials/contributorsBlockInArticle.ejs', {contributor: contributor}) %>
                          </div>
                      <% } %>
                    <share-bar post-id="<%- id %>"
                      post-title="<%- title %>"></share-bar>
                      
                      
                    <div class="artd_article_video">
                      <div id="video_player"></div>
                    </div>
                    <% if (artBlock && artBlock.length > 0) { %>
                      <% artBlock.forEach(function (content, index) { %>
                      <% if (content.subTitle == "video") { %>
                          <div class="artd_article_video">
                            <div id="video_player_<%- content.blockID %>"></div>
                          </div>
                          <script type="text/javascript">
                            $(document).ready(function() {
                              var videoId = "_<%- content.blockID %>" || "";
                              var anvpId = "anvp" + videoId; // Unique player id
                              var anvpInstance = new AnvatoPlayer(anvpId);
                              var videourl = "<%- content.content %>" ;
                              
                              videourl = videourl.replace('<p>','') ;
                              videourl = videourl.replace('</p>','') ;
                              anvpInstance.setVideoUrl(videourl);
                              anvpInstance.setPlayerSize("100%", "100%");
                              anvpInstance.setVolume(0.5); // Value between 0 - 1
                              anvpInstance.setShareEnable(false);
                              anvpInstance.setAutoPlay(false);
                              anvpInstance.setPoster("<%- content.imgFile %>");
                              anvpInstance.createInstance("video_player_<%- content.blockID %>"); // Div Id match
                              
                            });
                          </script>
                      <% }else{ %>
                      
                              <div class="artd_article_subHead">
                                <%- content.subTitle %>
                              </div> 
                              <%- include('partials/imageWithCaption.ejs', {image: content.imgFile, caption: content.caption}) %>
                              
                                <div class="artd_article_Text">
                                  <%- content.content %>
                                  <% if (index == 3) { %>
                                    <flyingcarpetfixedbanner fixedbanner-id="fixedbanner2_<%= index %>" fixedbanner-num="2" article-id="<%- id %>" ></flyingcarpetfixedbanner>
                                  <% } %>
                                    <% if (index == 7) { %>
                                    <flyingcarpetfixedbanner fixedbanner-id="fixedbanner3_<%= index %>" fixedbanner-num="3"  article-id="<%- id %>"></flyingcarpetfixedbanner>
                                  <% } %>
                                    <% if (index == 11) { %>
                                    <flyingcarpetfixedbanner fixedbanner-id="fixedbanner4_<%= index %>" fixedbanner-num="4"  article-id="<%- id %>"></flyingcarpetfixedbanner>
                                  <% } %>
                                    <% if (index == 15) { %>
                                    <flyingcarpetfixedbanner fixedbanner-id="fixedbanner5_<%= index %>" fixedbanner-num="5"  article-id="<%- id %>"></flyingcarpetfixedbanner>
                                  <% } %>
                                    <% if (content.content === "<p>FIXBANNER6</p>") { %>
                                    <fixedbanner fixedbanner-id="fixedbanner6_<%= index %>" fixedbanner-num="6" article-id="<%- id %>"></fixedbanner>
                                  <% } %>
                                    <% if (content.content === "<p>FIXBANNER7</p>") { %>
                                    <fixedbanner fixedbanner-id="fixedbanner7_<%= index %>" fixedbanner-num="7" article-id="<%- id %>"></fixedbanner>
                                  <% } %>
                                    <% if (content.content === "<p>FIXBANNER8</p>") { %>
                                    <fixedbanner fixedbanner-id="fixedbanner8_<%= index %>" fixedbanner-num="8" article-id="<%- id %>"></fixedbanner>
                                  <% } %>
                                </div>
                          <% } %>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
              <% } %>
              <div class="lrec_ad_wrapper col-md-3 col-xs-12">
                <lrec lrec-id="lrec1" lrec-num="1" article-id="<%- id %>"></lrec>
                <lrec lrec-id="lrec2" lrec-num="2" article-id="<%- id %>"></lrec>
                <% if (categoryName !== "Event") { %>
                  <div class="artd_facebook_block hidden-xs">
                    <facebook-block></facebook-block>
                  </div>
                  <div class="artd_instagram_block hidden-xs">
                    <instagram-medias ig-medias="igMedias"></instagram-medias>
                  </div>
                <% } %>
                <% if (categoryName === "Event") { %>
                  <div class="upcoming_events_wrap">
                    <div class="up_coming_event">
                      <%- include('partials/upcomingEvents.ejs',
                        {events: upcomingEvents}) %>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
          <midbanner midbanner-id="midbanner1" article-id="<%- id %>"></midbanner> 
          <fixedbanner fixedbanner-id="fixedbanner8" fixedbanner-num="8" article-id="<%- id %>"></fixedbanner>
         
        </div>
        <fadeinoutbanner fadeinoutbanner-id="fadeinoutbanner" article-id="<%- id %>"></fadeinoutbanner> 
        <div id="article-end"></div>
        <% if ((categoryName != "Contributor") && (categoryName != "Event")) { %>
          <add-carousel-recommend title-class="'nm_recommend'" carousel-items="latestArticles"
            carousel-div="'recommend-carousel'"></add-carousel-recommend>
        <% } %>
        <% if  (categoryName === "Event") { %>
        <add-carousel title-class="'nm_recommend'" carousel-items="latestArticles"
        carousel-div="'recommend-carousel'"></add-carousel>
      <% } %>
        <% if (categoryName === "Contributor" || categoryName === "Editor picks") { %>
        <add-carousel title-class="'nm_recommend'" carousel-items="latestArticles"
          carousel-div="'recommend-carousel'"></add-carousel>
          <div class="nm_section visible-xs">
            <div class="nm_section_block">
              <facebook-block></facebook-block>
            </div>
            <div class="nm_section_block instagram_block">
              <instagram-medias ig-medias="igMedias"></instagram-medias>
            </div>
          </div>
        <% } %>

        <div lazy-scroll="loadArticle()"
          lazy-no-scroll="noMoreArticles">
          <div ng-repeat="article in nextArticles">
            <article-details article="article">
            </article-details>
          </div>
        </div>
        <div align="center" ng-show="loadingArticle" style="margin-top: 60px">
          <img src="/img/loading.gif" />
        </div>
        <div id="loading-trigger" style="margin-bottom: 60px; height: 20px"></div>
      </div>

      <%- include('partials/footer.ejs') %>
      <%- include('partials/newsletter.ejs') %>
      <%- include('partials/campaign.ejs') %>
    </div>

    <%- include('partials/logging.ejs', {pageviewLog: pageviewLog }) %>
    <%- include('partials/videoUtil.ejs', {
      adTag: adTag,
      pageviewLog: pageviewLog,
      videoId: (video && video.videoId) ? video.videoId : "",
      videoUrl: (video && video.url) ? video.url : "",
      videoImage: (video) ? videoImage : ""
    }) %>
    <script type="text/javascript">
      function scrolledIntoView(elem) {
        var $win = $(window);
        var docViewTop = $win.scrollTop();
        var docViewBottom = docViewTop + $win.height();
        var $elem = $(elem);
        var elemTop = $elem.offset().top;
        var elemBottom = elemTop + $elem.height();
        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
      }

      var scrollAnchors = [
        {
          id: '#article-end',
          title: '<%- title.replace("'", "\\'") %>',
          url: <% if (isSharedUrl) { %> '/article/<%- id %>' <% } else { %> '/<%- categoryName %>/<%- id %>/<%- title.replace("'", "\\'") %>' <% } %>,
          nxmObj: nxmObj1
        }
      ];

      $(window).scroll(function() {
        var i = scrollAnchors.length - 1;
        if (i === 0) {
          return;
        }
        var curPath = window.location.pathname;
        for (; i >= 0; i--) {
          var anchor = scrollAnchors[i];
          if (scrolledIntoView(anchor.id)) {
            if (document.title !== anchor.title) {
              window.history.pushState(null, null, encodeURI(anchor.url));
              document.title = anchor.title;
              sendPageview(anchor.nxmObj);
             
            }
            break;
          }
        }
      });

      $(window).on('beforeunload', function() {
        $(window).scrollTop(0);
      });

      $(document).ready(function() {
        renderVideo(JSON.parse('<%- JSON.stringify(video).replace(/\\/g, "\\\\") %>'), '<%- title.replace("'", "\\'") %>');
      });
    </script>
     
       <div class="btn_readmore" ng-show="scrollYPosition > screenHeight">
             <a ng-click="readMoreButton()"><img src="/img/readmorebutton.png"></a>
      </div>
  </body>
</html>
