<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/extHeader.ejs') %>
    <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
    <%- include('partials/videoUtil.ejs', {adTag: adTag}) %>
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/articleDetail.css" />
  </head>
  <body ng-app="addv2" ng-controller="ArticleController"
    categ-ename="<%= ename %>" categ-name="<%= categ %>"
    article-id="<%= id %>">
    <%- include('partials/app.ejs') %>
    <skinner-block></skinner-block>

    <div class="nm_v_menu visible-xs" vmenu="content">
      <div ng-include="'/partials/mobileMenu.html'"></div>
    </div>
    <top-menu ng-categories="categs"></top-menu>
    <div class="container nm_home" skinner_ad="align_top" vmenu="sibling">
      <div class="row nm_row">
        <div class="main_content">
          <div class="nm_section">
            <div class="head_banner_wrapper hidden-xs">
              <div class="superhead_banner">
                <div id="headBanner">
                  <script>
                    showWebAd("HeadBanner", "headBanner");
                  </script>
                </div>
              </div>
            </div>
            <div class="row nm_row">
              <div class="pull-right lrec_ad_wrapper hidden-xs">
                <div class="lrec_ad_large">
                  <div id="lrec1">
                    <script>
                      showWebAd("LREC1", "lrec1");
                    </script>
                  </div>
                </div>
                <div class="lrec_ad_large">
                  <div id="lrec2">
                    <script>
                      showWebAd("LREC2", "lrec2");
                    </script>
                  </div>
                </div>
                <facebook-block></facebook-block>
                <instagram-medias ig-medias="igMedias"></instagram-medias>
              </div>
              <% if (type === "news") { %>
                <div class="pull-right nm_mpm col-xs-12">
                  <div class="mpm_content artd_container">
                    <div class="artd_article_label"><%- categ %></div>
                    <div class="artd_article_title"><%- title %></div>
                    <div class="artd_article_publish_date">
                      日期：{{"<%= pubDate %>" | amUtc | amDateFormat:'lll'}}
                    </div>
                    <div class="artd_article_share_bar"></div>
                    <div class="artd_article_video">
                      <div id="video_player"></div>
                    </div>
                    <div class="artd_article_intro">
                    <% if (introPhotos && introPhotos.length > 0) { %>
                      <% introPhotos.forEach(function (photo) { %>
                        <div class="artd_intro_photo">
                          <div class="artd_article_Photo">
                            <img src="<%= photo.imagePathZoom %>">
                          </div>
                          <div class="artd_article_caption">
                            <%= photo.caption %>
                          </div>
                        </div>
                      <% }) %>
                    <% } %>
                    <%- intro %>
                    </div>
                    <% if (contentBlocks && contentBlocks.length > 0) { %>
                      <% contentBlocks.forEach(function (content, index) { %>
                        <div class="artd_article_subHead">
                          <%= content.subHead %>
                        </div>
                        <% if (content.photos && content.photos.length > 0) { %>
                          <% content.photos.forEach(function (photo) { %>
                            <div class="artd_intro_photo">
                              <div class="artd_article_Photo">
                                <img src="<%= photo.imagePathZoom %>">
                              </div>
                              <div class="artd_article_caption">
                                <%= photo.caption %>
                              </div>
                            </div>
                          <% }) %>
                        <% } %>
                        <div class="artd_article_Text">
                          <%= content.content %>
                        </div>
                        <div class="fix_banner_wrapper visible-xs">
                          <div id="fixbanner1_<%= index %>" class="mobileAd">
                            <script>
                              showMobileAd("Fixedbanner1", "fixbanner1_<%= index %>");
                            </script>
                          </div>
                        </div>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
              <% } else if (type === "cms") { %>
                <div class="pull-right nm_mpm col-xs-12">
                  <div class="mpm_content artd_container">
                    <div class="artd_article_label"><%- categ %></div>
                    <div class="artd_article_title"><%- title %></div>
                    <div class="artd_article_publish_date">
                      日期：{{"<%- publish %>" | amUtc | amDateFormat:'lll'}}
                    </div>
                    <div class="artd_article_share_bar"></div>
                    <div class="artd_article_video">
                      <div id="video_player"></div>
                    </div>
                    <div class="artd_article_intro">
                    <% if (imgBlock && imgBlock.length > 0) { %>
                      <% imgBlock.forEach(function (photo) { %>
                        <div class="artd_intro_photo">
                          <div class="artd_article_Photo">
                            <img src="<%- photo.imgFile %>">
                          </div>
                          <div class="artd_article_caption">
                            <%- photo.caption %>
                          </div>
                        </div>
                      <% }) %>
                    <% } %>
                    </div>
                    <% if (artBlock && artBlock.length > 0) { %>
                      <% artBlock.forEach(function (content) { %>
                        <div class="artd_article_subHead">
                          <%- content.subTitle %>
                        </div>
                        <div class="artd_intro_photo">
                          <div class="artd_article_Photo">
                            <img src="<%- content.imageFile %>">
                          </div>
                          <div class="artd_article_caption">
                            <%- content.caption %>
                          </div>
                        </div>
                        <div class="artd_article_Text">
                          <%- content.content %>
                        </div>
                        <div class="fix_banner_wrapper visible-xs">
                          <div id="fixbanner1_<%= index %>" class="mobileAd">
                            <script>
                              showMobileAd("Fixedbanner1", "fixbanner1_<%= index %>");
                            </script>
                          </div>
                        </div>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
              <% } %>
            </div>
          </div>

          <div class="nm_section" loading="content">
            <div class="head_banner_wrapper hidden-xs">
              <div id="midBanner" class="superhead_banner">
                <script>
                  showWebAd("Midbanner", "midBanner");
                </script>
              </div>
            </div>
          </div>
        </div>

        <add-carousel title-class="'nm_recommend'" carousel-items="latestArticles"
          carousel-div="'recommend-carousel'"></add-carousel>
      </div>

      <div ng-include="'/partials/footer.html'"></div>
      <div ng-include="'/partials/newsletter.html'"></div>
    </div>

  <script type="text/javascript">
    $(document).ready(function() {
      renderVideo(JSON.parse('<%- JSON.stringify(video) %>'));
    });
  </script>
  </body>
</html>
