<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= SITE_NAME %></title>
    <%- include('partials/extHeader.ejs') %>
    <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
    <%- include('partials/videoUtil.ejs', {adTag: adTag}) %>
    <link rel="stylesheet" href="/css/articleDetail.css" />
  </head>
  <body ng-app="addv2" ng-controller="ArticleController"
    categ-ename="<%= ename %>" categ-name="<%= categoryName %>"
    article-id="<%= id %>", article-author="<%= contributorName %>">
    <skinner-block></skinner-block>
    <splash-screen></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content">
          <div class="nm_section">
            <div class="head_banner_wrapper hidden-xs">
              <div class="superhead_banner">
                <div id="headBanner">
                  <script>
                    showWebAd("HeadBanner", "headBanner");
                  </script>
                </div>
              </div>
            </div>
            <div class="row nm_row">
              <% if (type === "news") { %>
                <script type="application/ld+json">
                  {
                    "@context": "http://schema.org",
                    "@type": "NewsArticle",
                    "headline": "<%- title.split("").map(function(c) { return "\\u" + ("000" + c.charCodeAt(0).toString(16)).substr(-4); }).join("") %>",
                    "url": "<%- fullURL.replace(/\//g, "\\/") %>",
                    <% if (introPhotos && introPhotos.length > 0) { %>
                      "thumbnailUrl": "<%- (introPhotos[0].imagePathZoom || "").replace(/\//g, "\\/") %>",
                    <% } %>
                    "dateCreated": "<%- pubDate %>",
                    "articleSection": "<%- categoryName %>",
                    "creator": ["Next Mobile Limited"],
                    "keywords": <%- JSON.stringify(themeTags) %>
                  }
                </script>
                <div class="pull-left nm_mpm col-xs-12">
                  <div class="mpm_content artd_container">
                    <div class="artd_article_label">[<%- categoryName.toLowerCase() %>]</div>
                    <div class="artd_article_title"><%- title %></div>
                    <div class="artd_article_publish_date" ng-cloak>
                      日期：<%- pubDate %>
                    </div>
                    <share-bar post-id="<%- id %>"
                      post-title="<%- title %>"></share-bar>
                    <div class="artd_article_video">
                      <div id="video_player"></div>
                    </div>
                    <div class="artd_article_intro">
                    <% if (introPhotos && introPhotos.length > 0) { %>
                      <% introPhotos.forEach(function (photo) { %>
                        <%- include('partials/imageWithCaption.ejs', {image: photo.imagePathZoom, caption: photo.caption}) %>
                      <% }) %>
                    <% } %>
                    <%- intro %>
                    </div>
                    <% if (contentBlocks && contentBlocks.length > 0) { %>
                      <% contentBlocks.forEach(function (content, index) { %>
                        <div class="artd_article_subHead">
                          <%- content.subHead %>
                        </div>
                        <% if (content.photos && content.photos.length > 0) { %>
                          <% content.photos.forEach(function (photo) { %>
                            <%- include('partials/imageWithCaption.ejs', {image: photo.imagePathZoom, caption: photo.caption}) %>
                          <% }) %>
                        <% } %>
                        <div class="artd_article_Text">
                          <%- content.content %>
                        </div>
                        <fixedbanner fixedbanner-id="fixedbanner1_<%= index %>"></fixedbanner>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
              <% } else if (type === "cms") { %>
                <script type="application/ld+json">
                  {
                    "@context": "http://schema.org",
                    "@type": "NewsArticle",
                    "headline": "<%- title.split("").map(function(c) { return "\\u" + ("000" + c.charCodeAt(0).toString(16)).substr(-4); }).join("") %>",
                    "url": "<%- fullURL.replace(/\//g, "\\/") %>",
                    <% if (videoThumbnail && videoThumbnail !== "") { %>
                        "thumbnailUrl": "<%- videoThumbnail.replace(/\//g, "\\/") %>",
                    <% } else if (artBlock && artBlock.length > 0) { %>
                        "thumbnailUrl": "<%- (artBlock[0].imgFile || "").replace(/\//g, "\\/") %>",
                    <% } %>
                    "dateCreated": "<%- publish %>",
                    "articleSection": "<%- categoryName %>",
                    "creator": ["Next Mobile Limited"],
                    "keywords": <%- JSON.stringify([tag]) %>
                  }
                </script>
                <div class="pull-left nm_mpm col-xs-12">
                  <div class="mpm_content artd_container">
                    <div class="artd_article_label">[<%- categoryName.toLowerCase() %>]</div>
                    <div class="artd_article_title"><%- title %></div>
                    <div class="artd_article_publish_date">
                      日期：<%- publish %>
                    </div>
                    <share-bar post-id="<%- id %>"
                      post-title="<%- title %>"></share-bar>
                    <div class="artd_article_video">
                      <div id="video_player"></div>
                    </div>
                    <% if (artBlock && artBlock.length > 0) { %>
                      <% artBlock.forEach(function (content, index) { %>
                        <div class="artd_article_subHead">
                          <%- content.subTitle %>
                        </div>
                        <%- include('partials/imageWithCaption.ejs', {image: content.imgFile, caption: content.caption}) %>
                        <div class="artd_article_Text">
                          <%- content.content %>
                        </div>
                        <fixedbanner fixedbanner-id="fixedbanner1_<%= index %>"></fixedbanner>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
              <% } %>
              <div class="pull-left lrec_ad_wrapper">
                <div class="lrec_ad_large hidden-xs">
                  <div id="lrec1">
                    <script>
                      showWebAd("LREC1", "lrec1");
                    </script>
                  </div>
                </div>
                <div class="lrec_ad_large hidden-xs">
                  <div id="lrec2">
                    <script>
                      showWebAd("LREC2", "lrec2");
                    </script>
                  </div>
                </div>
                <% if (categoryName !== "Event") { %>
                  <div class="artd_facebook_block hidden-xs">
                    <facebook-block></facebook-block>
                  </div>
                  <div class="artd_instagram_block hidden-xs">
                    <instagram-medias ig-medias="igMedias"></instagram-medias>
                  </div>
                <% } %>
                <% if (categoryName === "Event") { %>
                  <div class="upcoming_events_wrap">
                    <div class="up_coming_event">
                      <%- include('partials/upcomingEvents.ejs',
                        {events: upcomingEvents}) %>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>

          <midbanner midbanner-id="midbanner_1"></midbanner>
        </div>

        <add-carousel title-class="'nm_recommend'" carousel-items="latestArticles"
          carousel-div="'recommend-carousel'"></add-carousel>

        <% if (categoryName === "Contributor" || categoryName === "Editor picks") { %>
          <div class="nm_section visible-xs">
            <div class="nm_section_block">
              <facebook-block></facebook-block>
            </div>
            <div class="nm_section_block">
              <instagram-medias ig-medias="igMedias"></instagram-medias>
            </div>
          </div>
        <% } %>
      </div>

      <%- include('partials/footer.ejs') %>
      <%- include('partials/newsletter.ejs') %>
      <%- include('partials/campaign.ejs') %>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        renderVideo(JSON.parse('<%- JSON.stringify(video) %>'));
      });
    </script>

    <%- include('partials/logging.ejs', {pageviewLog: pageviewLog}) %>
    <%- include('partials/google-analytics.ejs') %>
  </body>
</html>
