<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://hk.adx.nextmedia.com/uvp2/js/anvp.common.lib-v1.0.2.js"></script>
    <%- include('partials/googleAdTag.ejs', {categoryName: categoryName}) %>
    <title><%- title %></title>
  </head>
  <body>
    <%= label %>
    <h1><%- title %></h1>
    Share bar<br />
    <!-- Case 1: no video -->
    <% if (!video) { %>
      <% if (intro) { %>
    <br /><%- intro %>
      <% } %>
      <% if (introPhotos.length > 0) { %>
    <br /><img src="<%= introPhotos[0].imagePath %>" />
      <% } %>
      <% if (contentBlocks.length > 0) { %>
    <br /><%- contentBlocks[0].content %>
      <% } %>
    <% } %>

    <!-- Case 2: has video -->
    <% if (video) { %>
    <div id="video_player"></div>
    <script type="text/javascript">
       var anvp1 = new AnvatoPlayer('anvp1'); // Unique player id
       var videoUrl = '<%= video.url %>';
       anvp1.setVideoUrl(videoUrl);
       anvp1.setPlayerSize(640, 360);
       anvp1.setTitle('How are you?');
       anvp1.setDescription('This is description.');
       anvp1.setVolume(0.5); // Value between 0 - 1
       anvp1.setShareEnable(false);
       var videopAdTagURL = anvp1.generateDFPvideoTag("dev.action_fun_marticle_preroll", "640x360");
       anvp1.setVideoAdTagURL(videopAdTagURL);
       anvp1.createInstance('video_player'); // Div Id match

       function liveStateChanged(stateMessage, anvatoData) {
         switch(stateMessage) {
           case 'USER_RESUME':
           break;
           case 'USER_PAUSE':
           break;
           case 'VIDEO_STARTED':
           //anvatoData including video duration(anvatoData.duration) and time(anvatoData.currentTime)
           //Logging function
           break;
           case 'VIDEO_FIRST_QUARTILE':
           break;
           case 'VIDEO_MID_POINT':
           break;
           case 'VIDEO_THIRD_QUARTILE':
           break;
           case 'VIDEO_COMPLETED':
           break;
         }
       }
     </script>
      <% if (intro) { %>
    <br /><%- intro %>
      <% } else if (contentBlocks.length > 0) { %>
    <br /><%- contentBlocks[0].content %>
      <% } %>
    <br />

      <% if (introPhotos.length > 0) { %>
    <br /><img src="<%= introPhotos[0].imagePath %>" />
      <% } %>
      <% if (intro && contentBlocks.length > 0 ) { %>
    <br /><%- contentBlocks[0].content %>
      <% } %>
    <% } %>

    <!-- Common sequences -->
    <% if (contentBlocks.length > 0) { %>
      <% contentBlocks[0].photos.forEach(function(photo) { %>
    <br /><img src="<%= photo.imagePath %>" />
      <% }) %>
    <% } %>

    <% for (var i = 1; i < contentBlocks.length; i++) { %>
    <br /><%- contentBlocks[i].content %>
      <% contentBlocks[i].photos.forEach(function(photo) { %>
    <br /><img src="<%= photo.imagePath %>" />
      <% }) %>
    <br />
    <% } %>
    <!-- DFP advertisements -->
    <div>
      <script>
        googletag.cmd.push(function() {
          googletag.display("headBanner");
        });
      </script>
    </div>
    <div>
      <script>
        googletag.cmd.push(function() {
          googletag.display("lrec1");
        });
      </script>
    </div>
    <div>
      <script>
        googletag.cmd.push(function() {
          googletag.display("lrec2");
        });
      </script>
    </div>
    <div>
      <script>
        googletag.cmd.push(function() {
          googletag.display("skycrapper1");
        });
      </script>
    </div>
    <div>
      <script>
        googletag.cmd.push(function() {
          googletag.display("skycrapper2");
        });
      </script>
    </div>
    <div>
      <script>
        googletag.cmd.push(function() {
          googletag.display("midbanner");
        });
      </script>
    </div>
  </body>
</html>
