<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/extHeader.ejs') %>
    <title>Category</title>
    <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/articleList.css" />
  </head>
  <body ng-app="addv2" ng-controller="CategController"
    categ-ename="<%= ename %>" categ-name="<%= categ %>">
    <!--h1>Category</h1>
      <latest-articles add-articles="latestArticles"></latest-articles>
      <latest-articles add-articles="secLatestArticles"></latest-articles>
    </div-->
    <%- include('partials/app.ejs') %>

  <div class="nm_v_menu visible-xs" vmenu="content">
    <div ng-include="'/partials/mobileMenu.html'"></div>
  </div>
  <div class="container nm_home">
    <top-menu ng-categories="categs"></top-menu>
    <div class="ls_banner">
      <img ng-src="{{::currentCateg.img}}" />
    </div>
    <div class="row nm_row">
      <!--<div class="skinner_ad" skinner_ad_left></div>-->
      <div class="main_content">
        <div class="nm_section">
          <!-- div inc='inc/sub_menu.html'></div -->
          <div class="head_banner_wrapper">
            <div class="superhead_banner"></div>
            <div class="head_banner"></div>
          </div>
          <div class="row nm_row">
            <div class="pull-right lrec_ad_wrapper hidden-xs">
              <div class="lrec_ad_large"></div>
              <div class="lrec_ad_small"></div>
            </div>
            <div class="pull-right nm_mpm col-xs-12">
              <div class="mpm_content">
                <img ng-src="{{::latestArticle.image}}" />
                <div class="al_two_content_label">
                  [{{::latestArticle.label}}]
                </div>
                <div class="al_two_content_title">
                  <!-- TODO(wkchan): Replace 'Fashion' with a category -->
                  <a ng-href="{{::latestArticle.detailLink}}">
                    {{::latestArticle.title}}
                  </a>
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="al_two_col_container" ng-repeat="a in latestArticles">
            <div ng-if="$odd">
              <div class="al_two_content col-md-6 col-xs-12">
                <div class="al_two_content_title">
                  <a ng-href="{{::a.detailLink}}">
                    {{::a.title}}
                  </a>
                </div>
                <div class="al_two_content_label">[{{::a.label}}]</div>
                <div class="al_two_content_content"
                  ng-bind-html="a.firstContentBlock.content | limitTo: 50 | trust">
                </div>
              </div>
              <div class="al_two_image col-md-6 col-xs-12">
                <img ng-src="{{::a.image}}" />
              </div>
            </div>
            <div ng-if="$even">
              <div class="al_two_image col-md-6 col-xs-12">
                <img ng-src="{{::a.image}}" />
              </div>
              <div class="al_two_content col-md-6 col-xs-12">
                <div class="al_two_content_title">
                  <a ng-href="{{::a.detailLink}}">
                    {{::a.title}}
                  </a>
                </div>
                <div class="al_two_content_label">[{{::a.label}}]</div>
                <div class="al_two_content_content"
                  ng-bind-html="a.firstContentBlock.content | limitTo: 50 | trust">
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
      <!--<div class="skinner_ad" skinner_ad_right></div>-->
    </div>

    <div inc='inc/footer.html'></div>
    <div inc="inc/newsletter.html"></div>
  </div>

  <script>
    $(document).ready(function() {
      $('[inc]').each(function() {
        var $this = $(this);
        var url = $this.attr('inc');
        if ($this.attr('loading') != "content")
          $this.load(url);
      });


      // lazy load
      var $loadingTrigger = $('[loading="trigger"]').first();
      var isLoading = false;
      var loadingIndex = 0;
      if ($loadingTrigger.length > 0) {
        $loadingContents = $('[loading="content"]');
        $loadingContents.addClass('hidden');
        $(document).on('scroll', function() {
          if ($(window).height() + $(document).scrollTop() > $loadingTrigger.position().top &&
            $loadingContents.length > loadingIndex &&
            !isLoading) {
            isLoading = true;
            // console.log('start');
            var $content = $($loadingContents.get(loadingIndex));
            var url = $content.attr('inc');
            $content.attr('loading', 'loaded');
            $content.removeClass('hidden');
            if (url) {
              $content.load(url, function() {
                isLoading = false;
                // console.log('complete');
              });
            } else {
              isLoading = false;
            }
            loadingIndex++;
          } else if ($loadingContents.length <= loadingIndex) {
            $loadingTrigger.addClass('hidden');
          }
        });
      }
    });


    // $(document).ready(function(){
    // 	var $skinnerAdRight = $('[skinner_ad_right]');
    // 	var $skinnerAdLeft = $('[skinner_ad_left]');
    // 	var $skinnerAdRightContainer = $skinnerAdRight.parent();
    // 	var updateSkinnerAd = function(){

    // 		if ($(document).scrollTop() >= 170){
    // 			$('.skinner_ad').addClass('fixed');
    // 			var offset = $(document).width() - $('body').width();
    // 			// console.log(offset);
    // 			$skinnerAdRight.css('right', ($(document).width() - ($skinnerAdRightContainer.position().left + $skinnerAdRightContainer.width())) - (offset > 0 ? offset - $(document).scrollLeft() : 0 ));
    // 			if (offset > 0){
    // 				$skinnerAdLeft.css('left', - $(document).scrollLeft());
    // 			}
    // 			else{
    // 				$skinnerAdLeft.attr('style', 'left:auto');
    // 			}
    // 		}
    // 		else{
    // 			$('.skinner_ad').removeClass('fixed');
    // 			$skinnerAdRight.css('right', '0px');
    // 			$skinnerAdLeft.css('left', '0px');
    // 		}
    // 	}
    // 	updateSkinnerAd();
    // 	$(document).on('scroll', updateSkinnerAd);
    // });

    $(document).ready(function() {
      $('.newsletter_small').hide();
      $('.newsletter_close').click(function() {
        $('.newsletter').hide();
        $('.newsletter_small').show();
      });
      $('.newsletter_small').click(function() {
        $('.newsletter').show();
      });
    });
  </script>
  </body>
</html>
