<!DOCTYPE html>
<html>

<head>
  <%- include('partials/extHeader.ejs') %>
  <title>Category</title>
  <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/articleList.css" />
</head>

<body ng-app="addv2" ng-controller="CategController" categ-ename="<%= ename %>"
  categ-name="<%= categ %>">
  <%- include('partials/app.ejs') %>
  <skinner-block></skinner-block>

  <div class="nm_v_menu visible-xs" vmenu="content">
    <div ng-include="'/partials/mobileMenu.html'"></div>
  </div>
  <div class="container nm_home">
    <top-menu ng-categories="categs"></top-menu>
    <div class="ls_banner">
      <img ng-src="{{::currentCateg.img}}" />
    </div>
    <div class="row nm_row">
      <!--<div class="skinner_ad" skinner_ad_left></div>-->
      <div class="main_content">
        <div class="nm_section">
          <!-- div inc='inc/sub_menu.html'></div -->
          <div class="head_banner_wrapper">
            <div class="superhead_banner">
              <div id="headBanner">
                <script>
                  showWebAd("HeadBanner", "headBanner");
                </script>
              </div>
            </div>
          </div>
          <div class="row nm_row">
            <div class="pull-right lrec_ad_wrapper hidden-xs">
              <div class="lrec_ad_large">
                <div id="lrec1">
                  <script>
                    showWebAd("LREC1", "lrec1");
                  </script>
                </div>
              </div>
              <div class="lrec_ad_large">
                <div id="lrec2">
                  <script>
                    showWebAd("LREC2", "lrec2");
                  </script>
                </div>
              </div>
            </div>
            <div class="pull-right nm_mpm col-xs-12">
              <div class="mpm_content">
                <img ng-if="latestArticle.hasVideo" class="play" src="/img/icon-play.png" />
                <img ng-src="{{::latestArticle.image}}" />
                <div class="al_two_content_label">
                  [{{::latestArticle.label}}]
                </div>
                <div class="al_two_content_title">
                  <!-- TODO(wkchan): Replace 'Fashion' with a category -->
                  <a ng-href="{{::latestArticle.detailLink}}">
                    {{::latestArticle.title}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <articles-in-categ add-articles="latestArticles"></articles-in-categ>
      </div>
    </div>
    <div class="main_content" lazy-scroll="loadCategArticles()"
      lazy-no-scroll="noMoreArticles">
      <div align="center" ng-show="loadingArticles" style="margin-top: 20px">
        <img src="/img/loading.gif" />
      </div>
      <div class="nm_section" ng-repeat="articles in moreArticleGroups">
        <!-- TODO(wkchan): Lazy load google ad tag -->
        <articles-in-categ add-articles="articles"></articles-in-categ>
      </div>
      <div align="center" ng-show="loadingArticles" style="margin-top: 20px">
        <img src="/img/loading.gif" />
      </div>
    </div>
    <!--<div class="skinner_ad" skinner_ad_right></div>-->
  </div>

  <div ng-include="'/partials/footer.html'"></div>
  <div ng-include="'/partials/newsletter.html'"></div>

  <script>
    // $(document).ready(function(){
    // 	var $skinnerAdRight = $('[skinner_ad_right]');
    // 	var $skinnerAdLeft = $('[skinner_ad_left]');
    // 	var $skinnerAdRightContainer = $skinnerAdRight.parent();
    // 	var updateSkinnerAd = function(){

    // 		if ($(document).scrollTop() >= 170){
    // 			$('.skinner_ad').addClass('fixed');
    // 			var offset = $(document).width() - $('body').width();
    // 			// console.log(offset);
    // 			$skinnerAdRight.css('right', ($(document).width() - ($skinnerAdRightContainer.position().left + $skinnerAdRightContainer.width())) - (offset > 0 ? offset - $(document).scrollLeft() : 0 ));
    // 			if (offset > 0){
    // 				$skinnerAdLeft.css('left', - $(document).scrollLeft());
    // 			}
    // 			else{
    // 				$skinnerAdLeft.attr('style', 'left:auto');
    // 			}
    // 		}
    // 		else{
    // 			$('.skinner_ad').removeClass('fixed');
    // 			$skinnerAdRight.css('right', '0px');
    // 			$skinnerAdLeft.css('left', '0px');
    // 		}
    // 	}
    // 	updateSkinnerAd();
    // 	$(document).on('scroll', updateSkinnerAd);
    // });
  </script>
</body>

</html>
