<!DOCTYPE html>
<html>

<head>
  <title><%= categ %> - <%= SITE_NAME %></title>
  <%- include('partials/extHeader.ejs') %>
  <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
</head>

<body ng-app="addv2" ng-controller="CategController" categ-ename="<%= ename %>"
  categ-name="<%= categ %>">
  <skinner-block></skinner-block>
  <splash-screen></splash-screen>
  <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
  <%- include('partials/topMenu.ejs', {menu: menu}) %>
  <div class="container nm_home">
    <div class="ls_banner" style="background: url('<%= categImg %>') center repeat-x; background-size: cover;"></div>
    <div class="row nm_row">
      <div class="main_content">
        <div class="nm_section">
          <!-- div inc='inc/sub_menu.html'></div -->
          <div class="head_banner_wrapper hidden-xs">
            <div class="superhead_banner">
              <div id="headBanner">
                <script>
                  showWebAd("HeadBanner", "headBanner");
                </script>
              </div>
            </div>
          </div>
          <div class="row">
            <%- include('partials/categ1stArticle.ejs', {article: article1}) %>
            <div class="lrec_ad_wrapper hidden-xs col-md-3">
              <div class="lrec_ad_large">
                <div id="lrec1">
                  <script>
                    showWebAd("LREC1", "lrec1");
                  </script>
                </div>
              </div>
              <div class="lrec_ad_large">
                <div id="lrec2">
                  <script>
                    showWebAd("LREC2", "lrec2");
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nm_section">
          <fixedbanner fixedbanner-id="fixedbanner1"></fixedbanner>
          <%- include('partials/categArticles.ejs', {articles: articles2to5}) %>
        </div>
      </div>
    </div>
    <div class="main_content" lazy-scroll="loadCategArticles()"
      style="min-height: 0px !important"
      lazy-no-scroll="noMoreArticles">
      <div class="nm_section" ng-repeat="articles in moreArticleGroups track by $index">
        <midbanner midbanner-id="midbanner_group_{{$index}}"></midbanner>
        <fixedbanner fixedbanner-id="fixedbanner{{$index + 2}}"
          fixedbanner-num="{{$index + 2}}"></fixedbanner>
        <articles-in-categ add-articles="articles"></articles-in-categ>
      </div>
      <div align="center" ng-show="loadingArticles" style="margin-top: 20px">
        <img src="/img/loading.gif" />
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/newsletter.ejs') %>
    <%- include('partials/campaign.ejs') %>
  </div>
  <%- include('partials/logging.ejs', {pageviewLog: pageviewLog}) %>
  <%- include('partials/google-analytics.ejs') %>
</body>

</html>
