<!DOCTYPE html>
<html>

<head>
  <%- include('partials/header.ejs', {
    title: contributor.catName + " - " + SITE_NAME,
    ogTitle: contributor.catName + " - Contributor - Apple Daily Deluxe 潮流資訊平台",
    ogImage: null,
    ogDescription: null,
    origin: origin,
    fullURL: fullURL
  }) %>
  <%- include('partials/googleAdTag.ejs', {adTag: 'Contributor_detail'}) %>
</head>

<body ng-app="addv2" ng-controller="ContributorArticlesController" contr-name="<%= contributor.catName %>"
   no-more-articles="<%= noMoreArticles %>">
  <skinner-block></skinner-block>
  <splash-screen></splash-screen>
  <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
  <%- include('partials/topMenu.ejs', {menu: menu}) %>
  <div class="container nm_home">
    <div class="row nm_row">
      <div class="main_content">
        <div class="nm_section">
          <headbanner headbanner-id="headbanner1"></headbanner>

          <div class="ctb_two_col_container">
            <div class="row">
              <div class="ctb_detail_image col-sm-6 col-md-6 col-xs-12">
                <img src="<%= contributor.imgName %>" />
              </div>
              <div class="ctb_detail_container col-sm-6 col-md-6 col-xs-12">
                <div class="ctb_detail_name">
                  <%= contributor.disCatName %>
                </div>
                <div class="ctb_detail_post">
                  <%= contributor.post %>
                </div>
                <div class="ctb_detail_description">
                  <%- contributor.desc %>
                </div>
              </div>
            </div>
            <fixedbanner fixedbanner-id="fixedbanner1"></fixedbanner>
            <%- include('partials/contributorArticles.ejs', {articles: articles}) %>
          </div>
          <div class="ctb_two_col_container"
            lazy-scroll="loadArticles()" lazy-no-scroll="noMoreArticles">
            <div align="center" ng-show="loadingArticles" style="margin-top: 20px" ng-cloak>
              <img src="/img/loading.gif" />
            </div>
            <div ng-repeat="articles in moreArticleGroups track by $index">
              <midbanner midbanner-id="midbanner_group_{{$index}}"></midbanner>
              <fixedbanner fixedbanner-id="fixedbanner{{$index + 2}}"
                fixedbanner-num="{{$index + 2}}"></fixedbanner>
              <latest-articles add-articles="articles"></latest-articles>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/newsletter.ejs') %>
    <%- include('partials/campaign.ejs') %>
    <%- include('partials/logging.ejs', {pageviewLog: pageviewLog}) %>
    <%- include('partials/google-analytics.ejs') %>
  </div>
</body>

</html>
