<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/extHeader.ejs') %>
    <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
    <title>Contributor Index</title>
    <link rel="stylesheet" href="/css/contributor.css" />
  </head>
  <body ng-app="addv2" ng-controller="ContributorController">
    <skinner-block></skinner-block>
    <splash-screen></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content">
          <div class="nm_section">
            <div class="head_banner_wrapper hidden-xs">
              <div class="superhead_banner">
                <div id="headBanner">
                  <script>
                    showWebAd("HeadBanner", "headBanner");
                  </script>
                </div>
              </div>
            </div>
            <div class="row nm_row">
              <div class="ctb_listing">
                <%- include('partials/contributorsBlock.ejs', {contributors: contributors}) %>
              </div>
            </div>
            <div lazy-scroll="loadContributors()" lazy-no-scroll="noMoreContributor">
              <div class="nm_section">
                <div align="center" ng-show="loadingContributors" style="margin-top: 20px">
                  <img src="/img/loading.gif" />
                </div>
                <div ng-repeat="contributors in moreContributorGroups track by
                    $index">
                  <midbanner midbanner-id="midbanner_group_{{$index}}"></midbanner>
                  <fixedbanner fixedbanner-id="fixedbanner{{$index + 2}}"
                    fixedbanner-num="{{$index + 2}}"></fixedbanner>
                  <div class="row nm_row">
                    <div class="ctb_listing">
                      <contributor-block contributors="contributors"></contributor-block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/newsletter.ejs') %>
      </div>
    </div>
  <%- include('partials/google-analytics.ejs') %>
  </body>

</html>
