<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header.ejs', {
      title: "Contributor - " + SITE_NAME,
      ogTitle: "Contributor - Apple Daily Deluxe 潮流資訊平台",
      ogImage: null,
      ogDescription: null,
      origin: origin,
      fullURL: fullURL
    }) %>
    <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
  </head>
  <body ng-app="addv2" ng-controller="ContributorController">
    <skinner-block></skinner-block>
    <splash-screen></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
  
  <div class="ls_banner hidden-xs" style="background: url('/img/contributors.jpg') center repeat-x;">
    <img src="/img/contributors.jpg" style="visibility: hidden">
  </div>
  <div class="ls_banner visible-xs" style="height: 40px; background: url('/img/contributors.jpg') center repeat-x; background-size: auto 100%">
  </div>    
      
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content">
          <div class="nm_section">
            <headbanner headbanner-id="headbanner1"></headbanner>
            <div class="row nm_row">
              <div class="ctb_listing">
                <%- include('partials/contributorsBlock.ejs', {contributors: contributors}) %>
              </div>
            </div>
            <div lazy-scroll="loadContributors()" lazy-no-scroll="noMoreContributor">
              <div class="nm_section">
                <div align="center" ng-show="loadingContributors" style="margin-top: 20px">
                  <img src="/img/loading.gif" />
                </div>
                <div ng-repeat="contributors in moreContributorGroups track by $index">
                  <midbanner midbanner-id="midbanner_group_{{$index}}"></midbanner>
                  <fixedbanner ng-if="$index < 3" fixedbanner-id="fixedbanner{{$index + 2}}"
                    fixedbanner-num="{{$index + 2}}"></fixedbanner>
                  <div class="row nm_row">
                    <div class="ctb_listing">
                      <contributor-block contributors="contributors"></contributor-block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/newsletter.ejs') %>
        <%- include('partials/campaign.ejs') %>
      </div>
    </div>
  <%- include('partials/logging.ejs', {pageviewLog: pageviewLog}) %>
  <%- include('partials/google-analytics.ejs') %>
  </body>

</html>
