<!DOCTYPE html>
<html>

<head>
  <%- include('partials/header.ejs', {
    title: "Events - " + SITE_NAME,
    ogTitle: categName + " - Apple Daily Deluxe 潮流資訊平台",
    ogImage: null,
    ogDescription: null,
    origin: origin,
    fullURL: fullURL
  }) %>
  <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
</head>

<body id="eventBody" ng-app="addv2" ng-controller="EventsController"
  categ-name="<%= categName %>" num-of-pages="<%= numOfPages %>">
  <skinner-block></skinner-block>
  <splash-screen></splash-screen>
  <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
  <%- include('partials/topMenu.ejs', {menu: menu}) %>
  <div class="container nm_home">
    <div class="row nm_row">
      <div class="main_content evtlist_listing">
        <div class="nm_section">
          <div class="head_banner_wrapper hidden-xs">
            <div class="superhead_banner">
              <div id="headBanner">
                <script>
                  showWebAd("HeadBanner", "headBanner");
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="nm_mpm col-md-6 col-xs-12">
            <% if (latestEvent) { %>
            <div class="mpm_content evtlist_container">
              <div class="evtlist_article_Photo">
                <a href="<%= latestEvent.linkURL %>" target="<%= latestEvent.linkTarget %>">
                  <%- include('partials/imageHasVideo.ejs',
                    {a: {hasVideo: latestEvent.hasVideo, image: latestEvent.image}}) %>
                </a>
              </div>
              <div class="evtlist_article_label">[<%= latestEvent.catName %>]</div>
              <a href="<%= latestEvent.linkURL %>" target="<%= latestEvent.linkTarget %>">
                <div class="evtlist_article_title"><%= latestEvent.title %></div>
                <div class="event_item_content_date"><%= latestEvent.lastUpdate %></div>
                <div class="evtlist_article_Text"><%- latestEvent.content %></div>
              </a>
            </div>
            <% } %>
          </div>
          <div class="lrec_ad_wrapper col-md-3 hidden-xs">
            <div class="lrec_ad_large">
              <div id="lrec1">
                <script>
                  showWebAd("LREC1", "lrec1");
                </script>
              </div>
            </div>
            <div class="lrec_ad_large">
              <div id="lrec2">
                <script>
                  showWebAd("LREC2", "lrec2");
                </script>
              </div>
            </div>
          </div>
        </div>

        <div class="row nm_row">
          <fixedbanner fixedbanner-id="fixedbanner1"></fixedbanner>
          <div class="pull-right upcoming_events_wrap">
            <div class="up_coming_event">
              <%- include('partials/upcomingEvents.ejs', {events: upcomingEvents}) %>
            </div>
          </div>
          <div class="pull-right nm_mpm col-xs-12" id="firstPage">
            <% events.forEach(function(e) { %>
            <div class="event_item">
              <a href="<%= e.linkURL %>" target="<%= e.linkTarget %>">
                <div class="event_item_media">
                  <%- include('partials/imageHasVideo.ejs',
                    {a: {playClass: 'play36px', hasVideo: e.hasVideo, image: e.image}}) %>
                </div>
                <div class="event_item_content">
                  <div class="event_item_content_title">
                    <%= e.title %>
                  </div>
                  <div class="event_item_content_date">
                    <%= e.lastUpdate %>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
          </div>
          <div class="pull-right nm_mpm col-xs-12" id="anotherPage" style="display: none">
            <div class="event_item" ng-repeat="e in events track by $index">
              <a ng-href="{{e.linkURL}}" target="{{e.linkTarget}}">
                <div class="event_item_media">
                  <div class="pos-relative">
                    <img ng-if="e.hasVideo" class="play36px" src="/img/icon-play.png" />
                    <img ng-src="{{e.image}}" />
                  </div>
                </div>
                <div class="event_item_content">
                  <div class="event_item_content_title">
                    {{e.title}}
                  </div>
                  <div class="event_item_content_date">
                    {{e.lastUpdate}}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div style="clear:both"></div>
        <% if (numOfPages > 1) { %>
        <div class="pagination_block">
          <div id="page-selection" class="pagination"></div>
          <script>
            $('#page-selection').bootpag({
              total: <%= numOfPages %>,
              page: 1,
              maxVisible: 5,
              leaps: true,
              firstLastUse: true,
              first: '|<',
              last: '>|',
              prev: '<',
              next: '>'
            }).on('page', function(event, num) {
              if (num === 1) {
                $('#firstPage').show();
                $('#anotherPage').hide();
              } else {
                $('#firstPage').hide();
                angular.element(document.getElementById("eventBody")).scope()
                  .loadEvents(num, $('#anotherPage'));
              }
            });
          </script>
        </div>
        <% } %>
      </div>
      <%- include('partials/footer.ejs') %>
      <%- include('partials/newsletter.ejs') %>
      <%- include('partials/campaign.ejs') %>
    </div>
  </div>
<%- include('partials/logging.ejs', {pageviewLog: pageviewLog}) %>
<%- include('partials/google-analytics.ejs') %>
</body>

</html>
