<!DOCTYPE html>
<html>

<head>
  <%- include('partials/header.ejs', {
    title: SITE_NAME,
    ogTitle: "Apple Daily Deluxe 潮流資訊平台",
    ogImage: null,
    ogDescription: null,
    origin: origin,
    fullURL: fullURL
  }) %>
  <%- include('partials/googleAdTag.ejs', {adTag: 'Index'}) %>
</script>
</head>

<body ng-app="addv2" ng-controller="HomepageController">
  
    <skinner-block></skinner-block>
    <splash-screen></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content">
          <div class="nm_section">
            <headbanner headbanner-id="headbanner1"></headbanner>
            <div class="row">
              <div class="nm_mpm col-md-6 col-xs-12">
                <div class="mpm_content">
                  <%- include('partials/mpms.ejs', {mpms: mpms}) %>
                </div>
              </div>
              <div class="lrec_ad_wrapper col-md-3">
                <lrec lrec-id="lrec1" lrec-num="1"></lrec>
                <lrec lrec-id="lrec2" lrec-num="2"></lrec>
              </div>
            </div>
            <fixedbanner fixedbanner-id="fixedbanner1"></fixedbanner>

            <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-8 nm_section">
                <%- include('partials/homeArticles.ejs', {articles: articles}) %>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 nm_section">
                <div class="nm_section_block hidden-xs">
                  <div class="homepage_facebook_block">
                    <facebook-block></facebook-block>
                  </div>
                  <div style="clear: both;"></div>
                </div>
                <div class="nm_section">
                  <fixedbanner fixedbanner-id="fixedbanner2"
                    fixedbanner-num="2"></fixedbanner>
                </div>
                <div class="nm_section hidden-xs">
                  <a href="/Contributor">
                    <img ng-src="{{::cBanner.imgName}}" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <add-carousel title-class="'nm_highlight'" carousel-items="highlights" carousel-div="'highlight-carousel'"></add-carousel>
          <div class="nm_section" lazy-scroll="lazyLoadHomepage()" lazy-no-scroll="loadIdx > 1">
            <div align="center" ng-show="loading" style="margin-top: 20px" ng-cloak>
              <img src="/img/loading.gif" />
            </div>
          </div>
          <div ng-show="loadIdx > 0">
            <midbanner midbanner-id="midbanner_1"></midbanner>
            <div class="nm_section">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 nm_section">
                  <div class="row">
                    <div ng-repeat="a in latestArticles5to8 track by $index">
                      <div class="col-xs-12 col-sm-6 col-md-6 nm_section_block">
                        <fixedbanner ng-if="$index === 3" fixedbanner-id="fixedbanner3"
                          fixedbanner-num="3"></fixedbanner>
                        <home-article add-article="a"></home-article>
                      </div>
                      <div ng-if="$index % 2 === 1" class="clearboth"></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 nm_section hidden-xs">
                  <div class="nm_section_block homepage_instagram_block">
                    <instagram-medias ig-medias="igMedias"></instagram-medias>
                  </div>
                  <div class="nm_section_block">
                    <a href="/Event"><img ng-src="{{::eBanner.imgName}}" /></a>
                  </div>
                </div>
              </div>
            </div>
            <add-carousel title-class="'nm_editor_pick'" carousel-items="editorPicks"
              carousel-div="'editor-picks-carousel'"
              show-link="<%= SHOW_EDITOR_PICK_LINK %>"></add-carousel>
          </div>
   
             
          <div ng-repeat="articles in categArticles track by $index">
            <midbanner ng-if="$index % 3 === 0" midbanner-id="midbanner_categ_{{$index}}"></midbanner>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 nm_section_block" ng-repeat="a in articles track by $index">
                <fixedbanner ng-if="$parent.$index === 0 && $index === 1"
                  fixedbanner-id="fixedbanner4"
                  fixedbanner-num="4"></fixedbanner>
                <home-article add-article="a"></home-article>
              </div>
            </div>
          </div>
        </div>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/newsletter.ejs') %>
        <%- include('partials/campaign.ejs') %>
      </div>
    </div>
<%- include('partials/logging.ejs', {pageviewLog: pageviewLog}) %>
<%- include('partials/google-analytics.ejs') %>
    
     <div class="btn_readmore" ng-show="scrollYPosition > screenHeight">
             <a ng-click="readMoreButton()"><img src="/img/readmorebutton.png"></a>
    </div>
</body>

</html>
