<!DOCTYPE html>
<html>

<head>
  <%- include('partials/extHeader.ejs') %>
  <title>Apple Daily Deluxe</title>
  <%- include('partials/googleAdTag.ejs', {adTag: 'Index'}) %>
</head>

<body ng-app="addv2" ng-controller="HomepageController">
    <skinner-block></skinner-block>
    <splash-screen></splash-screen>
    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content">
          <div class="nm_section">
            <div class="head_banner_wrapper hidden-xs">
              <div class="superhead_banner">
                <div id="headBanner">
                  <script>
                    showWebAd("HeadBanner", "headBanner");
                  </script>
                </div>
              </div>
            </div>
            <div class="row nm_row">
              <div class="pull-right lrec_ad_wrapper hidden-xs">
                <div class="lrec_ad_large">
                  <div id="lrec1">
                    <script>
                      showWebAd("LREC1", "lrec1");
                    </script>
                  </div>
                </div>
                <div class="lrec_ad_large">
                  <div id="lrec2">
                    <script>
                      showWebAd("LREC2", "lrec2");
                    </script>
                  </div>
                </div>
              </div>
              <div class="pull-right nm_mpm col-xs-12">
                <div class="mpm_content">
                  <%- include('partials/mpms.ejs', {mpms: mpms}) %>
                </div>
              </div>
            </div>
            <fixedbanner fixedbanner-id="fixedbanner1"></fixedbanner>

            <div class="row">
              <div class="col-md-8 nm_section">
                <%- include('partials/homeArticles.ejs', {articles: articles}) %>
              </div>
              <div class="col-md-4 nm_section">
                <div class="nm_section">
                  <facebook-block></facebook-block>
                </div>
                <div class="nm_section">
                  <fixedbanner fixedbanner-id="fixedbanner2"
                    fixedbanner-num="2"></fixedbanner>
                </div>
                <div class="nm_section">
                  <a href="/Contributor">
                    <img ng-src="{{::cBanner.imgName}}" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <add-carousel title-class="'nm_highlight'" carousel-items="highlights" carousel-div="'highlight-carousel'"></add-carousel>
          <div class="nm_section" lazy-scroll="lazyLoadHomepage()" lazy-no-scroll="loaded">
            <div align="center" ng-show="loading" style="margin-top: 20px">
              <img src="/img/loading.gif" />
            </div>
          </div>
          <div ng-if="loaded">
            <midbanner midbanner-id="midbanner_1"></midbanner>
            <div class="nm_section">
              <div class="row">
                <div class="col-md-8 nm_section">
                  <div class="row">
                    <div class="col-md-6 nm_section_block"
                      ng-repeat="a in latestArticles5to8 track by $index">
                      <fixedbanner ng-if="$index === 3" fixedbanner-id="fixedbanner3"
                        fixedbanner-num="3"></fixedbanner>
                      <home-article add-article="a"></home-article>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 nm_section">
                  <instagram-medias ig-medias="igMedias"></instagram-medias>
                  <a href="/Event">
                    <img ng-src="{{::eBanner.imgName}}" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <add-carousel title-class="'nm_editor_pick'" carousel-items="editorPicks"
            carousel-div="'editor-picks-carousel'"></add-carousel>
          <div ng-repeat="articles in categArticles track by $index">
            <midbanner ng-if="$index % 3 === 0" midbanner-id="midbanner_categ_{{$index}}"></midbanner>
            <div class="row">
              <div class="col-sm-4 nm_section_block" ng-repeat="a in articles track by $index">
                <fixedbanner ng-if="$parent.$index === 0 && $index === 1"
                  fixedbanner-id="fixedbanner4"
                  fixedbanner-num="4"></fixedbanner>
                <home-article add-article="a"></home-article>
              </div>
            </div>
          </div>
        </div>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/newsletter.ejs') %>
      </div>
    </div>

<%- include('partials/google-analytics.ejs') %>
</body>

</html>
