<!DOCTYPE html>
<html>

<head>
  <%- include('partials/header.ejs', {
    title: categ + " - " + SITE_NAME,
    ogTitle: categ + " - Apple Daily Deluxe 潮流資訊平台",
    ogImage: null,
    ogDescription: null,
    origin: origin,
    fullURL: fullURL
  }) %>

  <%- include('partials/googleAdTag.ejs', {adTag: adTag}) %>
  <%- include('partials/google-analytics.ejs') %>
</head>

<body ng-app="addv2" ng-controller="KeywordController" categ-ename="<%= ename %>"
  categ-name="<%= categ %>" hash-tag="<%= hashTag %>">
  <splash-screen></splash-screen>
  <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
  <%- include('partials/topMenu.ejs', {menu: menu}) %>
  <div class="container nm_home">
    <div class="row nm_row">
      <div class="main_content">
        <div class="nm_section">
          <headbanner headbanner-id="headbanner1"></headbanner>
          <div class="row">

            <div class="hashtagTitle col-xs-12"> 
              <div class="underline"> 
                  <h2><%= hashTag %> </h2>
              </div>
            </div>
            <div class="nm_mpm col-md-6 col-xs-12">
                  <% articles.forEach(function(a, idx) { %>
                        <div class="keyword_image al_two_image col-sm-12 col-md-6 col-xs-12">
                          <a href="#">
                              <div class="pos-relative artsListImg">
                                <% if (a.hasVideo) { %>
                                  <% var playClass = a.playClass ? a.playClass : "play"; %>
                                <img class="<%= playClass %>" src="/img/icon-play.png" />
                                <% } %>
                                <img src="<%= a.image %>" />
                              </div>
                          </a>
                        </div>
                        <div class="keyword_content al_two_content col-sm-12 col-md-6 col-xs-12">
                          <div class="al_two_content_label">[<%= a.categoryName %>]</div>
                          <a href="<%= a.linkURL %>">
                            <div class="other_article al_two_content_title">
                              <%= a.title %>
                            </div>
                            <div class="other_article al_two_content_content hidden-xs">
                              <%- a.content %>
                            </div>
                          </a>
                        </div>
                        <div class="clearfix"></div>
                    <% }) %>

                  <div lazy-scroll="loadCategArticles()"
                  style="min-height: 0px !important"
                  lazy-no-scroll="noMoreArticles">
                  <div class="nm_section" ng-repeat="articles in moreArticleGroups track by $index">
                    <articles-in-keyword add-articles="articles"></articles-in-keyword>
                  </div>
                  <div align="center" ng-show="loadingArticles" style="margin-top: 20px">
                    <img src="/img/loading.gif" />
                  </div>
                </div>
                
              </div>
          
            <div class="lrec_ad_wrapper col-md-3">
              <lrec lrec-id="lrec1" lrec-num="1"></lrec>
              <lrec lrec-id="lrec2" lrec-num="2"></lrec>
            </div>
          </div>
        </div>
        <div class="nm_section">
        </div>
      </div>
    </div>


  
  </div>
  
</body>

</html>
