<!DOCTYPE html>
<html>

<head>
  <%- include('partials/header.ejs', {
    title: SITE_NAME,
    ogTitle: "Deluxe Hong Kong潮流資訊平台",
    ogImage: null,
    ogDescription: null,
    metaKeyword: metaKeyword,
    origin: origin,
    fullURL: fullURL
  }) %>

</head>

<body ng-app="addv2" ng-controller="HomepageController">

    <%- include('partials/mobileMenu.ejs', {menu: menu}) %>
    <%- include('partials/topMenu.ejs', {menu: menu}) %>
    <div class="container nm_home">
      <div class="row nm_row">
        <div class="main_content" style="text-align: center;">
          <div class="nm_section">
                <% results.forEach(function(a, idx) { %>
                    <div class="al_two_col_container ">
                    <div class="row">
                      <div class="al_two_image col-sm-5 col-md-6 col-xs-12">  
                        <a href="<%= a.link %>">
                          <div class="pos-relative artsListImg">
                            <img src="<%= a.ogimage %>"> 
                          </div>
                        </a>
                      </div>
                      <div class="al_two_content col-sm-5 col-md-6 col-xs-12">
                        <a href="<%= a.link %>">
                          <div class="other_article al_two_content_title">
                            <%= a.title %>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div style="clear:both"></div>
                <% }) %>    
            </div>
          </div>
        </div>
        <%- include('partials/footer.ejs') %>
      </div>
    </div>

</body>

</html>
