<!-- Begin pageview log -->
<div id="nxm_iframeDiv" style="display: none"></div>
<div id="nxm_vtrk_iframeDiv" style="display: none"></div>
<script type="text/javascript" language="javascript" src="<%= LOGGING_PAGEVIEW_API %>"></script>
<script id="gdpr-message" src='https://policy.appledaily.com/gdpr.min.js?cpreg=HK&platform=WEB&v=20180607'></script>
<script>
  var logPageview = true;
  function disableLogPageview() {
    logPageview = false;
  }

  function getPlatform() {
    if (!window.matchMedia('(min-width: 768px)').matches) {
      return "MOBWEB";
    }
    return "WEB";
  }

  function sendPageview(nxmObj) {
    nxmObj.platform = getPlatform();
    for (var nxmProp in nxmObj) {
      nxmTrack.nxmAddSeg(nxmProp.toUpperCase() + '=' + encodeURIComponent(nxmObj[nxmProp]));
    }
    var ngs_id = nxmTrack.readCookie('ngs_id');
    if (ngs_id == null) ngs_id = '';
    nxmTrack.nxmAddSeg('NGSID=' + ngs_id);
    nxmTrack.nxmSendPageDepth(0, new Date().getTime());
  }
    var nxmObj1 = {"region": "HK", "prod": "ADD", "site": "deluxe.com.hk",
    "platform": "WEB", "section": "<%= section %>", "media": "TEXT",
    "content": "<%= content %>", "issueid": "<%= issueid %>", "title": "<%= title %>",
    "cid": "<%= cid %>", "news": "<%= news %>",
    "edm": "", "action": "PAGEVIEW", "subsect": "<%= subsect %>", "subsubsect": "",
    "menu": "<%= menu %>", "auth": "<%= auth %>", "src": "AD", "L": "TC",
    "ch": "<%= channel %>", "cat": "<%= category %>", "ky": "<%= ky %>", "ngsid": "", "ref": ""};
   
  (function() {
    sendPageview(nxmObj1);
    //Scroll Depth tracking
    var trackRecords = [];
     


    function getPageScrollPercent() {
      var bottom = $(window).height() + $(window).scrollTop();
      var height = $(document).height();
      return Math.round(100 * bottom / height);
    }

    function sendPageDepth(depth) {
      trackRecords.push(depth.toString());
      nxmObj1.platform = getPlatform();
      nxmTrack.nxmAddSeg('PLATFORM=' + encodeURIComponent(nxmObj1.platform));
      nxmTrack.nxmSendPageDepth(depth, new Date().getTime());
    }
  })();
</script>
<!-- End pageview log -->
